api/src/main/resources/S3-To-RagStudio-Nifi-template.json
{
  "snapshotMetadata": {
    "bucketIdentifier": null,
    "flowIdentifier": "cb602434-63ed-4169-b8da-46ce9d78fc96",
    "version": 0,
    "timestamp": 1727279181215,
    "author": null,
    "comments": null,
    "link": null
  },
  "flowContents": {
    "identifier": "094a9aae-1a67-4239-b068-624267512dac",
    "instanceIdentifier": null,
    "name": "S3 To RagStudio",
    "comments": null,
    "position": {
      "x": 0.0,
      "y": 0.0
    },
    "processGroups": [],
    "remoteProcessGroups": [],
    "processors": [
      {
        "identifier": "7c48c59c-b690-4604-bb73-70e72fdcf6c1",
        "instanceIdentifier": null,
        "name": "LogAttribute",
        "comments": "",
        "position": {
          "x": -133.10089325680667,
          "y": 886.5670798607055
        },
        "type": "org.apache.nifi.processors.standard.LogAttribute",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "1.27.0.2.3.14.0-9"
        },
        "properties": {
          "character-set": "UTF-8",
          "Log FlowFile Properties": "true",
          "attributes-to-log-regex": ".*",
          "Output Format": "Line per Attribute",
          "Log Payload": "false",
          "Log Level": "info"
        },
        "propertyDescriptors": {
          "Log prefix": {
            "name": "Log prefix",
            "displayName": "Log prefix",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "character-set": {
            "name": "character-set",
            "displayName": "Character Set",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "Log FlowFile Properties": {
            "name": "Log FlowFile Properties",
            "displayName": "Log FlowFile Properties",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "Log Level": {
            "name": "Log Level",
            "displayName": "Log Level",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "attributes-to-ignore-regex": {
            "name": "attributes-to-ignore-regex",
            "displayName": "Attributes to Ignore by Regular Expression",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "Attributes to Ignore": {
            "name": "Attributes to Ignore",
            "displayName": "Attributes to Ignore",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "Attributes to Log": {
            "name": "Attributes to Log",
            "displayName": "Attributes to Log",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "attributes-to-log-regex": {
            "name": "attributes-to-log-regex",
            "displayName": "Attributes to Log by Regular Expression",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "Output Format": {
            "name": "Output Format",
            "displayName": "Output Format",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "Log Payload": {
            "name": "Log Payload",
            "displayName": "Log Payload",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          }
        },
        "style": {},
        "annotationData": null,
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "success"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "094a9aae-1a67-4239-b068-624267512dac"
      },
      {
        "identifier": "fd1fb338-0e48-4826-b28c-f2674b79c112",
        "instanceIdentifier": null,
        "name": "InvokeHTTP",
        "comments": "",
        "position": {
          "x": 753.378662109375,
          "y": 856.1459655761719
        },
        "type": "org.apache.nifi.processors.standard.InvokeHTTP",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "1.27.0.2.3.14.0-9"
        },
        "properties": {
          "use-etag": "false",
          "Proxy Type": "http",
          "cookie-strategy": "DISABLED",
          "Connection Timeout": "5 secs",
          "send-message-body": "true",
          "set-form-filename": "true",
          "Always Output Response": "false",
          "etag-max-cache-size": "10MB",
          "Content-Encoding": "DISABLED",
          "disable-http2": "False",
          "idle-timeout": "5 mins",
          "Use Chunked Encoding": "false",
          "Follow Redirects": "True",
          "Remote URL": "#{Rag Studio URL}/api/v1/rag/dataSources/#{Rag Studio Datasource ID}/files",
          "Content-Type": "${mime.type}",
          "form-body-form-name": "file",
          "flow-file-naming-strategy": "RANDOM",
          "max-idle-connections": "5",
          "Read Timeout": "15 secs",
          "Socket Write Timeout": "15 secs",
          "Max Length To Put In Attribute": "256",
          "ignore-response-content": "false",
          "SSL Context Service": "8cb5ccad-14a6-4a8a-9f96-88636d64092b",
          "Digest Authentication": "false",
          "HTTP Method": "POST",
          "Add Response Headers to Request": "false",
          "Include Date Header": "True",
          "Penalize on \"No Retry\"": "false"
        },
        "propertyDescriptors": {
          "Proxy Host": {
            "name": "Proxy Host",
            "displayName": "Proxy Host",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "Attributes to Send": {
            "name": "Attributes to Send",
            "displayName": "Request Header Attributes Pattern",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "use-etag": {
            "name": "use-etag",
            "displayName": "Response Cache Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "proxy-configuration-service": {
            "name": "proxy-configuration-service",
            "displayName": "Proxy Configuration Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "resourceDefinition": null
          },
          "Proxy Type": {
            "name": "Proxy Type",
            "displayName": "Proxy Type",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "Basic Authentication Password": {
            "name": "Basic Authentication Password",
            "displayName": "Request Password",
            "identifiesControllerService": false,
            "sensitive": true,
            "resourceDefinition": null
          },
          "cookie-strategy": {
            "name": "cookie-strategy",
            "displayName": "Response Cookie Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "Connection Timeout": {
            "name": "Connection Timeout",
            "displayName": "Socket Connect Timeout",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "send-message-body": {
            "name": "send-message-body",
            "displayName": "Request Body Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "set-form-filename": {
            "name": "set-form-filename",
            "displayName": "Request Multipart Form-Data Filename Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "Always Output Response": {
            "name": "Always Output Response",
            "displayName": "Response Generation Required",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "etag-max-cache-size": {
            "name": "etag-max-cache-size",
            "displayName": "Response Cache Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "Content-Encoding": {
            "name": "Content-Encoding",
            "displayName": "Request Content-Encoding",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "disable-http2": {
            "name": "disable-http2",
            "displayName": "HTTP/2 Disabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "idle-timeout": {
            "name": "idle-timeout",
            "displayName": "Socket Idle Timeout",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "Put Response Body In Attribute": {
            "name": "Put Response Body In Attribute",
            "displayName": "Response Body Attribute Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "Use Chunked Encoding": {
            "name": "Use Chunked Encoding",
            "displayName": "Request Chunked Transfer-Encoding Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "Follow Redirects": {
            "name": "Follow Redirects",
            "displayName": "Response Redirects Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "Remote URL": {
            "name": "Remote URL",
            "displayName": "HTTP URL",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "form-body-form-name": {
            "name": "form-body-form-name",
            "displayName": "Request Multipart Form-Data Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "Content-Type": {
            "name": "Content-Type",
            "displayName": "Request Content-Type",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "flow-file-naming-strategy": {
            "name": "flow-file-naming-strategy",
            "displayName": "Response FlowFile Naming Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "max-idle-connections": {
            "name": "max-idle-connections",
            "displayName": "Socket Idle Connections",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "invokehttp-proxy-user": {
            "name": "invokehttp-proxy-user",
            "displayName": "Proxy Username",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "Read Timeout": {
            "name": "Read Timeout",
            "displayName": "Socket Read Timeout",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "Socket Write Timeout": {
            "name": "Socket Write Timeout",
            "displayName": "Socket Write Timeout",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "Max Length To Put In Attribute": {
            "name": "Max Length To Put In Attribute",
            "displayName": "Response Body Attribute Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "invokehttp-proxy-password": {
            "name": "invokehttp-proxy-password",
            "displayName": "Proxy Password",
            "identifiesControllerService": false,
            "sensitive": true,
            "resourceDefinition": null
          },
          "ignore-response-content": {
            "name": "ignore-response-content",
            "displayName": "Response Body Ignored",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "Proxy Port": {
            "name": "Proxy Port",
            "displayName": "Proxy Port",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "SSL Context Service": {
            "name": "SSL Context Service",
            "displayName": "SSL Context Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "resourceDefinition": null
          },
          "Digest Authentication": {
            "name": "Digest Authentication",
            "displayName": "Request Digest Authentication Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "HTTP Method": {
            "name": "HTTP Method",
            "displayName": "HTTP Method",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "Add Response Headers to Request": {
            "name": "Add Response Headers to Request",
            "displayName": "Response Header Request Attributes Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "oauth2-access-token-provider": {
            "name": "oauth2-access-token-provider",
            "displayName": "Request OAuth2 Access Token Provider",
            "identifiesControllerService": true,
            "sensitive": false,
            "resourceDefinition": null
          },
          "Basic Authentication Username": {
            "name": "Basic Authentication Username",
            "displayName": "Request Username",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "Include Date Header": {
            "name": "Include Date Header",
            "displayName": "Request Date Header Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "Penalize on \"No Retry\"": {
            "name": "Penalize on \"No Retry\"",
            "displayName": "Request Failure Penalization Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "Useragent": {
            "name": "Useragent",
            "displayName": "Request User-Agent",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          }
        },
        "style": {},
        "annotationData": null,
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "INFO",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "Original"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "094a9aae-1a67-4239-b068-624267512dac"
      },
      {
        "identifier": "5e63364a-3e91-443f-a07a-a92987e631ff",
        "instanceIdentifier": null,
        "name": "ListS3",
        "comments": "",
        "position": {
          "x": 14.691065805429844,
          "y": -164.5961142026233
        },
        "type": "org.apache.nifi.processors.aws.s3.ListS3",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-aws-nar",
          "version": "1.27.0.2.3.14.0-9"
        },
        "properties": {
          "list-type": "1",
          "write-s3-user-metadata": "false",
          "et-initial-listing-target": "all",
          "prefix": "#{S3 File Watch Prefix}",
          "et-time-window": "3 hours",
          "requester-pays": "false",
          "custom-signer-class-name": null,
          "AWS Credentials Provider service": "76f2ce65-59b9-4f0f-8187-2ab156530830",
          "Listing Batch Size": "100",
          "listing-strategy": "timestamps",
          "write-s3-object-tags": "false",
          "Signer Override": "Default Signature",
          "Bucket": "#{S3 Bucket}",
          "Communications Timeout": "30 secs",
          "Region": "#{AWS Region}",
          "et-state-cache": null,
          "min-age": "0 sec",
          "use-versions": "false"
        },
        "propertyDescriptors": {
          "Proxy Host": {
            "name": "Proxy Host",
            "displayName": "Proxy Host",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "list-type": {
            "name": "list-type",
            "displayName": "List Type",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "et-initial-listing-target": {
            "name": "et-initial-listing-target",
            "displayName": "Entity Tracking Initial Listing Target",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "Access Key": {
            "name": "Access Key",
            "displayName": "Access Key ID",
            "identifiesControllerService": false,
            "sensitive": true,
            "resourceDefinition": null
          },
          "prefix": {
            "name": "prefix",
            "displayName": "Prefix",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "record-writer": {
            "name": "record-writer",
            "displayName": "Record Writer",
            "identifiesControllerService": true,
            "sensitive": false,
            "resourceDefinition": null
          },
          "proxy-configuration-service": {
            "name": "proxy-configuration-service",
            "displayName": "Proxy Configuration Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "resourceDefinition": null
          },
          "Endpoint Override URL": {
            "name": "Endpoint Override URL",
            "displayName": "Endpoint Override URL",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "et-time-window": {
            "name": "et-time-window",
            "displayName": "Entity Tracking Time Window",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "custom-signer-class-name": {
            "name": "custom-signer-class-name",
            "displayName": "Custom Signer Class Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "requester-pays": {
            "name": "requester-pays",
            "displayName": "Requester Pays",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "custom-signer-module-location": {
            "name": "custom-signer-module-location",
            "displayName": "Custom Signer Module Location",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": {
              "cardinality": "MULTIPLE",
              "resourceTypes": [
                "DIRECTORY",
                "FILE"
              ]
            }
          },
          "listing-strategy": {
            "name": "listing-strategy",
            "displayName": "Listing Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "Signer Override": {
            "name": "Signer Override",
            "displayName": "Signer Override",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "delimiter": {
            "name": "delimiter",
            "displayName": "Delimiter",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "proxy-user-password": {
            "name": "proxy-user-password",
            "displayName": "Proxy Password",
            "identifiesControllerService": false,
            "sensitive": true,
            "resourceDefinition": null
          },
          "Secret Key": {
            "name": "Secret Key",
            "displayName": "Secret Access Key",
            "identifiesControllerService": false,
            "sensitive": true,
            "resourceDefinition": null
          },
          "min-age": {
            "name": "min-age",
            "displayName": "Minimum Object Age",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "write-s3-user-metadata": {
            "name": "write-s3-user-metadata",
            "displayName": "Write User Metadata",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "max-age": {
            "name": "max-age",
            "displayName": "Maximum Object Age",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "AWS Credentials Provider service": {
            "name": "AWS Credentials Provider service",
            "displayName": "AWS Credentials Provider Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "resourceDefinition": null
          },
          "Listing Batch Size": {
            "name": "Listing Batch Size",
            "displayName": "Listing Batch Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "SSL Context Service": {
            "name": "SSL Context Service",
            "displayName": "SSL Context Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "resourceDefinition": null
          },
          "write-s3-object-tags": {
            "name": "write-s3-object-tags",
            "displayName": "Write Object Tags",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "Bucket": {
            "name": "Bucket",
            "displayName": "Bucket",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "Communications Timeout": {
            "name": "Communications Timeout",
            "displayName": "Communications Timeout",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "Region": {
            "name": "Region",
            "displayName": "Region",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "Credentials File": {
            "name": "Credentials File",
            "displayName": "Credentials File",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": {
              "cardinality": "SINGLE",
              "resourceTypes": [
                "FILE"
              ]
            }
          },
          "et-state-cache": {
            "name": "et-state-cache",
            "displayName": "Entity Tracking State Cache",
            "identifiesControllerService": true,
            "sensitive": false,
            "resourceDefinition": null
          },
          "proxy-user-name": {
            "name": "proxy-user-name",
            "displayName": "Proxy Username",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "Proxy Host Port": {
            "name": "Proxy Host Port",
            "displayName": "Proxy Host Port",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "use-versions": {
            "name": "use-versions",
            "displayName": "Use Versions",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          }
        },
        "style": {},
        "annotationData": null,
        "schedulingPeriod": "1 min",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "094a9aae-1a67-4239-b068-624267512dac"
      },
      {
        "identifier": "2a5eec83-5620-4888-b0af-bdac07196573",
        "instanceIdentifier": null,
        "name": "FetchS3Object",
        "comments": "",
        "position": {
          "x": 683.2134708691617,
          "y": 273.40769496262055
        },
        "type": "org.apache.nifi.processors.aws.s3.FetchS3Object",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-aws-nar",
          "version": "1.27.0.2.3.14.0-9"
        },
        "properties": {
          "Signer Override": "Default Signature",
          "Bucket": "cloudera-ai-rag-dev-us-west-2",
          "Communications Timeout": "30 secs",
          "Region": "us-west-2",
          "requester-pays": "false",
          "custom-signer-class-name": null,
          "Object Key": "${filename}",
          "AWS Credentials Provider service": "76f2ce65-59b9-4f0f-8187-2ab156530830"
        },
        "propertyDescriptors": {
          "Proxy Host": {
            "name": "Proxy Host",
            "displayName": "Proxy Host",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "range-length": {
            "name": "range-length",
            "displayName": "Range Length",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "Access Key": {
            "name": "Access Key",
            "displayName": "Access Key ID",
            "identifiesControllerService": false,
            "sensitive": true,
            "resourceDefinition": null
          },
          "range-start": {
            "name": "range-start",
            "displayName": "Range Start",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "proxy-configuration-service": {
            "name": "proxy-configuration-service",
            "displayName": "Proxy Configuration Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "resourceDefinition": null
          },
          "Endpoint Override URL": {
            "name": "Endpoint Override URL",
            "displayName": "Endpoint Override URL",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "custom-signer-class-name": {
            "name": "custom-signer-class-name",
            "displayName": "Custom Signer Class Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "requester-pays": {
            "name": "requester-pays",
            "displayName": "Requester Pays",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "Object Key": {
            "name": "Object Key",
            "displayName": "Object Key",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "AWS Credentials Provider service": {
            "name": "AWS Credentials Provider service",
            "displayName": "AWS Credentials Provider Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "resourceDefinition": null
          },
          "custom-signer-module-location": {
            "name": "custom-signer-module-location",
            "displayName": "Custom Signer Module Location",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": {
              "cardinality": "MULTIPLE",
              "resourceTypes": [
                "DIRECTORY",
                "FILE"
              ]
            }
          },
          "SSL Context Service": {
            "name": "SSL Context Service",
            "displayName": "SSL Context Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "resourceDefinition": null
          },
          "Signer Override": {
            "name": "Signer Override",
            "displayName": "Signer Override",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "Bucket": {
            "name": "Bucket",
            "displayName": "Bucket",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "Version": {
            "name": "Version",
            "displayName": "Version",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "proxy-user-password": {
            "name": "proxy-user-password",
            "displayName": "Proxy Password",
            "identifiesControllerService": false,
            "sensitive": true,
            "resourceDefinition": null
          },
          "Communications Timeout": {
            "name": "Communications Timeout",
            "displayName": "Communications Timeout",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "Region": {
            "name": "Region",
            "displayName": "Region",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "Secret Key": {
            "name": "Secret Key",
            "displayName": "Secret Access Key",
            "identifiesControllerService": false,
            "sensitive": true,
            "resourceDefinition": null
          },
          "Credentials File": {
            "name": "Credentials File",
            "displayName": "Credentials File",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": {
              "cardinality": "SINGLE",
              "resourceTypes": [
                "FILE"
              ]
            }
          },
          "proxy-user-name": {
            "name": "proxy-user-name",
            "displayName": "Proxy Username",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "Proxy Host Port": {
            "name": "Proxy Host Port",
            "displayName": "Proxy Host Port",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "encryption-service": {
            "name": "encryption-service",
            "displayName": "Encryption Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "resourceDefinition": null
          }
        },
        "style": {},
        "annotationData": null,
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "094a9aae-1a67-4239-b068-624267512dac"
      },
      {
        "identifier": "279a936b-dd3b-4e2c-a8a7-2879b8f3b37f",
        "instanceIdentifier": null,
        "name": "RouteOnAttribute",
        "comments": "",
        "position": {
          "x": 36.28910546831685,
          "y": 271.25654802851847
        },
        "type": "org.apache.nifi.processors.standard.RouteOnAttribute",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "1.27.0.2.3.14.0-9"
        },
        "properties": {
          "not a directory": "${s3.length:gt(0)}",
          "Routing Strategy": "Route to Property name"
        },
        "propertyDescriptors": {
          "not a directory": {
            "name": "not a directory",
            "displayName": "not a directory",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "Routing Strategy": {
            "name": "Routing Strategy",
            "displayName": "Routing Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          }
        },
        "style": {},
        "annotationData": null,
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "unmatched"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "094a9aae-1a67-4239-b068-624267512dac"
      }
    ],
    "inputPorts": [],
    "outputPorts": [],
    "connections": [
      {
        "identifier": "0b8216a9-303b-4320-90f7-09098115cb86",
        "instanceIdentifier": null,
        "name": "",
        "comments": null,
        "position": null,
        "source": {
          "id": "fd1fb338-0e48-4826-b28c-f2674b79c112",
          "type": "PROCESSOR",
          "groupId": "094a9aae-1a67-4239-b068-624267512dac",
          "name": "InvokeHTTP",
          "comments": null,
          "instanceIdentifier": null
        },
        "destination": {
          "id": "7c48c59c-b690-4604-bb73-70e72fdcf6c1",
          "type": "PROCESSOR",
          "groupId": "094a9aae-1a67-4239-b068-624267512dac",
          "name": "LogAttribute",
          "comments": null,
          "instanceIdentifier": null
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "Response",
          "No Retry",
          "Retry",
          "Failure"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 seconds",
        "prioritizers": [],
        "bends": [
          {
            "x": 301.867164493728,
            "y": 622.5793315563293
          }
        ],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": null,
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "094a9aae-1a67-4239-b068-624267512dac"
      },
      {
        "identifier": "4c879f86-913b-4ba8-942e-85e5f1fe7df3",
        "instanceIdentifier": null,
        "name": "",
        "comments": null,
        "position": null,
        "source": {
          "id": "2a5eec83-5620-4888-b0af-bdac07196573",
          "type": "PROCESSOR",
          "groupId": "094a9aae-1a67-4239-b068-624267512dac",
          "name": "FetchS3Object",
          "comments": null,
          "instanceIdentifier": null
        },
        "destination": {
          "id": "fd1fb338-0e48-4826-b28c-f2674b79c112",
          "type": "PROCESSOR",
          "groupId": "094a9aae-1a67-4239-b068-624267512dac",
          "name": "InvokeHTTP",
          "comments": null,
          "instanceIdentifier": null
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 seconds",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": null,
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "094a9aae-1a67-4239-b068-624267512dac"
      },
      {
        "identifier": "0da73630-e2bb-4175-9e65-b787c3a6147a",
        "instanceIdentifier": null,
        "name": "",
        "comments": null,
        "position": null,
        "source": {
          "id": "2a5eec83-5620-4888-b0af-bdac07196573",
          "type": "PROCESSOR",
          "groupId": "094a9aae-1a67-4239-b068-624267512dac",
          "name": "FetchS3Object",
          "comments": null,
          "instanceIdentifier": null
        },
        "destination": {
          "id": "7c48c59c-b690-4604-bb73-70e72fdcf6c1",
          "type": "PROCESSOR",
          "groupId": "094a9aae-1a67-4239-b068-624267512dac",
          "name": "LogAttribute",
          "comments": null,
          "instanceIdentifier": null
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "success",
          "failure"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 seconds",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": null,
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "094a9aae-1a67-4239-b068-624267512dac"
      },
      {
        "identifier": "533a52ba-1d8a-4a3e-9328-625a05b47788",
        "instanceIdentifier": null,
        "name": "",
        "comments": null,
        "position": null,
        "source": {
          "id": "fd1fb338-0e48-4826-b28c-f2674b79c112",
          "type": "PROCESSOR",
          "groupId": "094a9aae-1a67-4239-b068-624267512dac",
          "name": "InvokeHTTP",
          "comments": null,
          "instanceIdentifier": null
        },
        "destination": {
          "id": "7c48c59c-b690-4604-bb73-70e72fdcf6c1",
          "type": "PROCESSOR",
          "groupId": "094a9aae-1a67-4239-b068-624267512dac",
          "name": "LogAttribute",
          "comments": null,
          "instanceIdentifier": null
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "Response"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 seconds",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": null,
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "094a9aae-1a67-4239-b068-624267512dac"
      },
      {
        "identifier": "038e1614-ffce-4213-8e8c-0965d8254b00",
        "instanceIdentifier": null,
        "name": "",
        "comments": null,
        "position": null,
        "source": {
          "id": "5e63364a-3e91-443f-a07a-a92987e631ff",
          "type": "PROCESSOR",
          "groupId": "094a9aae-1a67-4239-b068-624267512dac",
          "name": "ListS3",
          "comments": null,
          "instanceIdentifier": null
        },
        "destination": {
          "id": "279a936b-dd3b-4e2c-a8a7-2879b8f3b37f",
          "type": "PROCESSOR",
          "groupId": "094a9aae-1a67-4239-b068-624267512dac",
          "name": "RouteOnAttribute",
          "comments": null,
          "instanceIdentifier": null
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 seconds",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": null,
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "094a9aae-1a67-4239-b068-624267512dac"
      },
      {
        "identifier": "f84b3f70-bfb4-4bf9-815f-c3074e5d0287",
        "instanceIdentifier": null,
        "name": "",
        "comments": null,
        "position": null,
        "source": {
          "id": "279a936b-dd3b-4e2c-a8a7-2879b8f3b37f",
          "type": "PROCESSOR",
          "groupId": "094a9aae-1a67-4239-b068-624267512dac",
          "name": "RouteOnAttribute",
          "comments": null,
          "instanceIdentifier": null
        },
        "destination": {
          "id": "2a5eec83-5620-4888-b0af-bdac07196573",
          "type": "PROCESSOR",
          "groupId": "094a9aae-1a67-4239-b068-624267512dac",
          "name": "FetchS3Object",
          "comments": null,
          "instanceIdentifier": null
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "not a directory"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 seconds",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": null,
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "094a9aae-1a67-4239-b068-624267512dac"
      }
    ],
    "labels": [],
    "funnels": [],
    "controllerServices": [
      {
        "identifier": "76f2ce65-59b9-4f0f-8187-2ab156530830",
        "instanceIdentifier": null,
        "name": "AWSCredentialsProviderControllerService",
        "comments": null,
        "position": null,
        "type": "org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderControllerService",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-aws-nar",
          "version": "1.27.0.2.3.14.0-9"
        },
        "properties": {
          "Assume Role Session Name": "",
          "assume-role-sts-region": "us-west-2",
          "Access Key": "#{Access Key ID}",
          "Secret Key": "#{Secret Access Key}",
          "default-credentials": "false",
          "Session Time": "3600",
          "assume-role-sts-signer-override": "Default Signature",
          "custom-signer-class-name": null,
          "anonymous-credentials": "false"
        },
        "propertyDescriptors": {
          "profile-name": {
            "name": "profile-name",
            "displayName": "Profile Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "Access Key": {
            "name": "Access Key",
            "displayName": "Access Key ID",
            "identifiesControllerService": false,
            "sensitive": true,
            "resourceDefinition": null
          },
          "assume-role-proxy-host": {
            "name": "assume-role-proxy-host",
            "displayName": "Assume Role Proxy Host",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "default-credentials": {
            "name": "default-credentials",
            "displayName": "Use Default Credentials",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "Session Time": {
            "name": "Session Time",
            "displayName": "Assume Role Session Time",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "assume-role-proxy-port": {
            "name": "assume-role-proxy-port",
            "displayName": "Assume Role Proxy Port",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "assume-role-ssl-context-service": {
            "name": "assume-role-ssl-context-service",
            "displayName": "Assume Role SSL Context Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "resourceDefinition": null
          },
          "assume-role-sts-signer-override": {
            "name": "assume-role-sts-signer-override",
            "displayName": "Assume Role STS Signer Override",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "custom-signer-class-name": {
            "name": "custom-signer-class-name",
            "displayName": "Custom Signer Class Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "Assume Role ARN": {
            "name": "Assume Role ARN",
            "displayName": "Assume Role ARN",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "custom-signer-module-location": {
            "name": "custom-signer-module-location",
            "displayName": "Custom Signer Module Location",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": {
              "cardinality": "MULTIPLE",
              "resourceTypes": [
                "DIRECTORY",
                "FILE"
              ]
            }
          },
          "Assume Role Session Name": {
            "name": "Assume Role Session Name",
            "displayName": "Assume Role Session Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "assume-role-sts-endpoint": {
            "name": "assume-role-sts-endpoint",
            "displayName": "Assume Role STS Endpoint Override",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "assume-role-sts-region": {
            "name": "assume-role-sts-region",
            "displayName": "Assume Role STS Region",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "Secret Key": {
            "name": "Secret Key",
            "displayName": "Secret Access Key",
            "identifiesControllerService": false,
            "sensitive": true,
            "resourceDefinition": null
          },
          "Credentials File": {
            "name": "Credentials File",
            "displayName": "Credentials File",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": {
              "cardinality": "SINGLE",
              "resourceTypes": [
                "FILE"
              ]
            }
          },
          "assume-role-external-id": {
            "name": "assume-role-external-id",
            "displayName": "Assume Role External ID",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "anonymous-credentials": {
            "name": "anonymous-credentials",
            "displayName": "Use Anonymous Credentials",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          }
        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.processors.aws.credentials.provider.AwsCredentialsProviderService",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-aws-service-api-nar",
              "version": "1.27.0.2.3.14.0-9"
            }
          },
          {
            "type": "org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-aws-service-api-nar",
              "version": "1.27.0.2.3.14.0-9"
            }
          }
        ],
        "annotationData": null,
        "scheduledState": "DISABLED",
        "bulletinLevel": null,
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "094a9aae-1a67-4239-b068-624267512dac"
      },
      {
        "identifier": "8cb5ccad-14a6-4a8a-9f96-88636d64092b",
        "instanceIdentifier": null,
        "name": "StandardSSLContextService",
        "comments": null,
        "position": null,
        "type": "org.apache.nifi.ssl.StandardSSLContextService",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-ssl-context-service-nar",
          "version": "1.27.0.2.3.14.0-9"
        },
        "properties": {
          "Truststore Type": "#{Truststore Type}",
          "SSL Protocol": "TLS",
          "Truststore Password": "#{Truststore Password}",
          "Truststore Filename": "#{Truststore Filename}"
        },
        "propertyDescriptors": {
          "Truststore Type": {
            "name": "Truststore Type",
            "displayName": "Truststore Type",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "SSL Protocol": {
            "name": "SSL Protocol",
            "displayName": "TLS Protocol",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "Keystore Type": {
            "name": "Keystore Type",
            "displayName": "Keystore Type",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": null
          },
          "Truststore Filename": {
            "name": "Truststore Filename",
            "displayName": "Truststore Filename",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": {
              "cardinality": "SINGLE",
              "resourceTypes": [
                "FILE"
              ]
            }
          },
          "Keystore Password": {
            "name": "Keystore Password",
            "displayName": "Keystore Password",
            "identifiesControllerService": false,
            "sensitive": true,
            "resourceDefinition": null
          },
          "key-password": {
            "name": "key-password",
            "displayName": "Key Password",
            "identifiesControllerService": false,
            "sensitive": true,
            "resourceDefinition": null
          },
          "Truststore Password": {
            "name": "Truststore Password",
            "displayName": "Truststore Password",
            "identifiesControllerService": false,
            "sensitive": true,
            "resourceDefinition": null
          },
          "Keystore Filename": {
            "name": "Keystore Filename",
            "displayName": "Keystore Filename",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": {
              "cardinality": "SINGLE",
              "resourceTypes": [
                "FILE"
              ]
            }
          }
        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.ssl.SSLContextService",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-services-api-nar",
              "version": "1.27.0.2.3.14.0-9"
            }
          }
        ],
        "annotationData": null,
        "scheduledState": "DISABLED",
        "bulletinLevel": null,
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "094a9aae-1a67-4239-b068-624267512dac"
      }
    ],
    "versionedFlowCoordinates": null,
    "variables": {},
    "parameterContextName": "rag studio parameters",
    "defaultFlowFileExpiration": "0 sec",
    "defaultBackPressureObjectThreshold": 10000,
    "defaultBackPressureDataSizeThreshold": "1 GB",
    "logFileSuffix": null,
    "componentType": "PROCESS_GROUP",
    "flowFileConcurrency": "UNBOUNDED",
    "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
    "groupIdentifier": null
  },
  "externalControllerServices": null,
  "parameterProviders": null,
  "parameterContexts": {
    "rag studio parameters": {
      "identifier": "ad56556a-d6ca-469d-8050-510213724201",
      "instanceIdentifier": null,
      "name": "rag studio parameters",
      "comments": null,
      "position": null,
      "parameters": [
        {
          "name": "Rag Studio Datasource ID",
          "description": "Each datasource has an ID associated with it.",
          "sensitive": false,
          "provided": false,
          "value": "$$$RAG_STUDIO_DATASOURCE_ID$$$"
        },
        {
          "name": "Access Key ID",
          "description": null,
          "sensitive": true,
          "provided": false,
          "value": null
        },
        {
          "name": "AWS Region",
          "description": null,
          "sensitive": false,
          "provided": false,
          "value": "us-west-2"
        },
        {
          "name": "Truststore Password",
          "description": null,
          "sensitive": true,
          "provided": false,
          "value": null
        },
        {
          "name": "Rag Studio URL",
          "description": null,
          "sensitive": false,
          "provided": false,
          "value": "$$$RAG_STUDIO_URL$$$"
        },
        {
          "name": "Truststore Type",
          "description": null,
          "sensitive": false,
          "provided": false,
          "value": "JKS"
        },
        {
          "name": "Truststore Filename",
          "description": null,
          "sensitive": false,
          "provided": false,
          "value": null
        },
        {
          "name": "S3 File Watch Prefix",
          "description": null,
          "sensitive": false,
          "provided": false,
          "value": null
        },
        {
          "name": "S3 Bucket",
          "description": null,
          "sensitive": false,
          "provided": false,
          "value": null
        },
        {
          "name": "Secret Access Key",
          "description": "AWS Secret Access Key",
          "sensitive": true,
          "provided": false,
          "value": null
        }
      ],
      "inheritedParameterContexts": [],
      "description": null,
      "parameterProvider": null,
      "parameterGroupName": null,
      "synchronized": null,
      "componentType": "PARAMETER_CONTEXT",
      "groupIdentifier": null
    }
  },
  "flowEncodingVersion": null,
  "flow": null,
  "bucket": null
}